.checkout-index-index 
div#checkout {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.59);
    padding: 50px;
    margin: 45px 17%;
}
 
.checkout-index-index 
form#co-payment-form {
    width: 70%;
}
 

.checkout-index-index .page-wrapper {
	background-image: url(http://www.mingorad.com/pub/static/frontend/Mingo/default/en_US/images/cms/page/about/behind-the-brand-bg.png);
	background-repeat: no-repeat;background-size: cover;
}


.checkout-index-index .step-title {
    text-align: left;
    border-bottom: 1px solid #000;
}


.checkout-index-index  
#checkout h1 {
    text-align: center;
    font-weight: bold;
    color: #6ab9a0;
    font-size: 51px;
}

.checkout-index-index 
.opc-progress-bar-item._complete> span {
    color: #6ab9a0;
}

.checkout-index-index  
div#checkout {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.59);
    padding: 50px;
    margin: 45px 17%;
}


.checkout-index-index 
form#co-payment-form {
    width: 70%;
}

.checkout-index-index 
.page-wrapper {background-image: url(http://www.mingorad.com/pub/static/frontend/Mingo/default/en_US/images/cms/page/about/behind-the-brand-bg.png);background-repeat: no-repeat;background-size: cover;}


.checkout-index-index 
.opc-block-shipping-information {
    display: none;
}

.checkout-index-index 
.opc-progress-bar{text-align:center}


.checkout-index-index 
.opc-block-summary {
    padding: 3px 30px;
    border-radius: 8px;
    width: 300px;
    margin-left: -73px;
    box-shadow: 0px 1px 2px 2px #0000002e;
    background: #ffffff;
}

.checkout-index-index 
.opc-progress-bar-item:before {
    background: #6ab9a0;
    border: 1px solid #6ab9a0;
}
.checkout-index-index 
.opc-progress-bar-item>span:before, 
.checkout-index-index 
.opc-progress-bar-item>span:after {
    background: #6ab9a0;
    border: 1px solid #6ab9a0;
}

.checkout-index-index .inner_page_header, 
.checkout-index-index .step-title, 
.checkout-index-index .title, 
.checkout-index-index .shipping-information-title {
    color: rgb(106, 185, 160) !important;
    line-height: 35px;
}
.checkout-index-index .opc-block-shipping-information {
    display: none;
}

.checkout-index-index .opc-block-summary {
    padding: 3px 30px;
    border-radius: 8px;
    width: 300px;
    margin-left: -73px;
    box-shadow: 0px 1px 2px 2px #0000002e;
    background: #ffffff;
}



 

